*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    --green-100: hsla(198, 41%, 96%, 1); /* for background color */
    --green-300: hsla(91, 94%, 86%, 1);
    --green-400: hsla(127, 67%, 76%, 1);
    --green-500: hsla(171, 52%, 52%, 1);
    --cyan-400: hsla(198, 76%, 31%, 1);
    --black-400: hsla(200, 96%, 10%, 1);
    --gray-300: hsla(0, 0%, 77%, 1);
    --gray-400: hsla(200, 9%, 72%, 1);
}

h1 {
    font: 400 2rem/1.2em 'Gelasio', serif;
}

h2 {
    font: 500 1.625rem/1.26em 'Gravitas One', cursive;
}

/*---Navigation---*/
nav {
    width: 100%; /*full length nav bar*/
    padding: 16px; /*make space for items*/
    display: flex;
    background: var(--cyan-400);
}

nav h1 {
    width: 20%; /*area*/
    margin-left: 10%; /*empty space in left*/
    color: var(--green-300);
}

nav ul {
    width: 60%; /*area*/
    margin-right: 10%; /*empty space in right*/
    text-align: right; /*nav item to right*/
    font-size: 20px;

}

nav ul li {
    display: inline; /*erase bullet point and horizontal*/
    margin: 3%; /*spread out the nav items*/
}

ul li a:link { /*nav and topic-aside*/
    text-decoration: none; /*remove nav item decor*/
    color: white;
}
ul li a:visited { /*nav and topic-aside*/
    color: white;
}
ul li a:hover { /*nav and topic-aside*/
    color: var(--green-300);
}
ul li a:active { /*nav and topic-aside*/
    color: white;
}

/*---Topic HTML---*/
#topic-article {
    width: 94%;
    margin: 0 3%; /*not final - adjusting layout (top-bottom, left-right)*/
    display: grid;
    grid-template-areas:
        'graphic'
        'history'
        'owner'
        'image'
        'compare'
        'software'
        'table'
        'term'
        'aside'
        'quiz';
}

#topic-graphic {
    grid-area: graphic;
    margin-top: 30px;
    width: 100%;
    height: 0.5em;
    border-radius: 2em;
    background-color: var(--green-500);
}
#topic-history {
    grid-area: history;
    margin-top: 30px;
}
#topic-owner {
    grid-area: owner;
    margin-top: 30px;
}
#topic-image {
    grid-area: image;
    margin-top: 30px;
    width: 100%;
}
#topic-compare {
    grid-area: compare;
    margin-top: 30px;
}
#topic-software {
    grid-area: software;
    margin-top: 30px;
}
#topic-table {
    grid-area: table;
    margin-top: 30px;
}
#topic-term {
    grid-area: term;
    margin-top: 30px;
}
#topic-aside {
    grid-area: aside;
    margin-top: 30px;
    color: white;
    background-color: var(--green-500);
    border-radius: 10px 10px 0 10px; /*top-left, top-right, bottom-right, bottom-left*/
    padding: 2% 8%;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 30%); /*left-right, top-bottom, density, size, color*/
}
#topic-quiz {
    grid-area: quiz;
    margin-top: 30px;
}

@media screen and (min-width: 481px) { /*minimum needs to have n-size, then apply (tablet)*/
}

@media screen and (min-width: 961px) { /*minimum needs to have n-size, then apply (pc)*/
    #topic-article {
        width: 90%;
        margin: 0 5%;
        column-gap: 10%; /*left-right gaps*/
        grid-template-columns: 70% 20%;
        grid-template-areas: 
            'graphic aside'
            'history aside'
            'owner aside'
            'image image'
            'compare compare'
            'software software'
            'table table'
            'term term'
            'quiz quiz';
    }

    #topic-graphic {
        grid-area: graphic;
        margin: 10px 0% 0% 0%;
        width: 32em;
    }

    #topic-aside {
        margin-top: 0;
    }
}